<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<base href="/ui/" />
<link href="css/angular-bootstrap.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<body ng-app="hello" ng-cloak class="ng-cloak">
	<div ng-controller="navigation" class="container">
		<ul class="nav nav-pills" role="tablist">
			<li ng-class="{active:tab('home')}"><a href="/ui">home</a></li>
			<li ng-class="{active:tab('message')}"><a href="/ui/message">message</a></li>
			<li><a href="/ui/login">login</a></li>
			<li ng-show="authenticated()"><a href="" ng-click="logout()">logout</a></li>
		</ul>
	</div>
	<div ng-view class="container"></div>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/auth/auth.js" type="text/javascript"></script>
	<script src="js/home/home.js" type="text/javascript"></script>
	<script src="js/message/message.js" type="text/javascript"></script>
	<script src="js/navigation/navigation.js" type="text/javascript"></script>
	<script src="js/hello.js" type="text/javascript"></script>
</body>
</html>
